<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-3 font-weight-bold">
    <a class="navbar-brand" href="/">Ittadi Mart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/cart">Cart
                    <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
                    <span class="sr-only">(current)</span></a>
            </li>
            {% if request.session.customer %}
            <li class="nav-item">
                <a class="nav-link" href="/orders">Orders<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login<span class="sr-only"></span></a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>