{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container" style="min-height: 530px;">
    <div class="border rounded p-4 m-4">
        <div class="row">
            <p class="display-4 pl-4 mr-auto" style="font-size:65px;">Your Orders</p>
            <p class="ml-auto"><a class="btn btn-info border rounded py-2 px-5 mr-5 mt-4" href="./"><i
                    class="fas fa-arrow-left pr-2"></i>Back</a></p>
        </div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
            <tr class="text-center align-middle">
                <th>SL</th>
                <th>Image</th>
                <th>Product</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
            <tr class="text-center">
                <td class="align-middle">{{forloop.counter}}</td>
                <td class="align-middle"><img style="height: 50px;" class="rounded-circle"
                                              src="{{order.product.image.url}}" alt=""></td>
                <td class="align-middle">{{order.product.name}}</td>
                <td class="align-middle">{{order.date}}</td>
                <td class="align-middle">{{order.price|currency}}</td>
                <td class="align-middle">{{order.quantity}}</td>
                <td class="align-middle">{{order.quantity|multiply:order.price|currency}}</td>
                {% if order.status == 'Delivered' %}
                <td class="align-middle"><small class="badge badge-success">{{order.status}}</small></td>
                {%else%}
                <td class="align-middle"><small class="badge badge-warning">{{order.status}}</small></td>
                {% endif %}
            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>
</div>



{% endblock %}